.form-button {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 20pt;
  font-weight: 400;
  padding: 12px;
  border-radius: 4px;
  width: 100%;
  color: white;
}

.blue {
  background-color: #3498db;
}

/* color for Upload Avatar button */
.grey {
  background-color: #627b8b;
}
