.heading {
  font-family: 'Merriweather Sans', sans-serif;
  color: #2c3e50;
  font-size: 29pt;
  margin-top: 0px;
  font-weight: 800; 
}

.form-section {
  margin-bottom: 32px;
}

.row {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 12px;
}

.col {
  flex-grow: 1;
}

@media all and (max-width: 992px) {
  .col {
    margin-bottom: 12px;
  }
  .row {
    margin-bottom: 0px;
  }
}

[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
}

.input-file-button {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 20pt;
  font-weight: 400;
  padding: 12px;
  border-radius: 4px;
  color: white;
  background-color: #627b8b;
  width: 100%;
  display: flex;
  position: relative;
  top: -16px;
  justify-content: center;
}

/* TODO: input-file-button focus & hover states */
